h1 {
    font-family: Noto Sans;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    padding: 5px;
    margin: 30px;
    background-color: beige;
    display: inline-block;
    position: relative;
}

#parrafo1 {
    width: 30%;

}

#parrafo2 {
    width: 150px;

}

#parrafo3 {
    width: 20%;

}